@import "./theme.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 60px;
  background-color: $primary;
  display: flex;
}

.content {
  flex: 1;
  padding: 30px;
  display: flex;
}

.calculator {
  max-width: 606px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__fieldset {
    border: 1px solid $primary;
    border-radius: 12px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;

    &--inputs {
      padding: 16px;
    }

    &--outputs {
      padding: 40px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
  }

  &__button {
    background-color: $primary;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
  }

  &__input {
    border: 1px solid $primary;
    height: 60px;
    padding: 1rem;
    width: 154px;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary;
    margin: 0;
  }

  .test {
    border: 1px solid green;
  }
}
